{
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "impliedStrict": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "block-scoped-var": "error",
    "brace-style": ["error", "1tbs"],
    "camelcase": "error",
    "class-methods-use-this": "error",
    "complexity": ["warn", 8],
    "computed-property-spacing": ["error", "never"],
    "curly": "error",
    "dot-location": ["error", "property"],
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "always"],
    "func-names": ["error", "always"],
    "line-comment-position": ["error", "above"],
    "linebreak-style": ["error", "unix"],
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "VariableDeclarator": {
        "var": 2,
        "let": 2,
        "const": 3
      },
      "MemberExpression": 1,
      "FunctionDeclaration": {
        "body": 1,
        "parameters": "first"
      },
      "FunctionExpression": {
        "body": 1,
        "parameters": "first"
      },
      "CallExpression": {
        "arguments": "first"
      },
      "ArrayExpression": "first",
      "ObjectExpression": "first",
      "ImportDeclaration": "first",
      "flatTernaryExpressions": true
    }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "max-depth": ["warn", 3],
    "max-len": ["error", {
      "code": 80,
      "ignoreComments": false,
      "ignoreUrls": true
    }],
    "max-statements": ["warn", 15],
    "multiline-comment-style": ["error", "starred-block"],
    "multiline-ternary": ["error", "always"],
    "new-cap": ["error", {
      "newIsCap": true,
      "capIsNew": true,
      "properties": true
    }],
    "no-bitwise": "error",
    "no-extend-native": "error",
    "no-inline-comments": "error",
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": "error",
    "no-new-object": "error",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-unused-vars": "error",
    "no-use-before-define": ["error", {
      "functions": true,
      "classes": true,
      "variables": true
    }],
    "no-var": "error",
    "object-curly-spacing": ["error", "never"],
    "one-var": ["error", "never"],
    "quotes": ["error", "single", { 
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": false,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": true,
        "FunctionExpression": true
      }
    }],
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always", {
      "exceptions": ["*"],
      "markers": ["eslint"]
    }],
    "valid-jsdoc": "error",
    "yoda": ["error", "never"]
  }
}
